:root {
    --principal-color: #4d18c7;
    --secondary-color: #212529;
    --third-color: #fff;
    --principal-font: "Anton", sans-serif;
    --secondary-font: "Prompt", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar {
    font-family: var(--principal-font);
}

.navbar-nav {
    margin-left: auto;
    font-family: var(--principal-font);
}

.dropdown-item,
.navbarDropdown {
    color: var(--third-color);
    background-color: var(--principal-color);
}

#main .carousel-inner img {
    max-height: 70vh;
    object-fit: cover;
    filter: grayscale(70%);
}

#aboutUs .carousel-inner img {
    max-height: 70vh;
    object-fit: cover;
    filter: grayscale(70%);
}

#principal-carousel {
    position: relative;
}

#principal-carousel .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--third-color);
    z-index: 1;
}

#principal-carousel .overlay .container,
#principal-carousel .overlay .row {
    height: 100%;
}

.apartments,
.houses,
.locals {
    background-color: var(--secondary-color);
}

.card {
    background-color: var(--third-color);
    margin-bottom: 20px;
}

.section-title {
    color: var(--third-color);
    background-color: var(--secondary-color);
}

#contact {
    background-color: var(--secondary-color);
    color: var(--third-color);
}

#wappIcon {
    display: inline-block;
    width: 15px;
    height: 15px;
    background-image: url("./assets/icons/whatsapp_icon.png");
    margin-right: 5px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#footer {
    background-color: var(--principal-color);
    color: var(--third-color);
}

#footer a {
    color: var(--third-color);
    text-decoration: none;
    font-family: var(--secondary-font);
}

a {
    text-decoration: none;
    color: var(--third-color);
}

.cacrd .carousel {
    display: flex;
    align-items: center;
}

.card .carousel .carousel-inner {
    height: 300px;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    background-color: #212529bf;
}

.card .carousel .carousel-inner img {
    object-fit: cover;
}

.card-title,
small,
h2 {
    font-family: var(--principal-font);
}

small {
    font-size: 20px;
}

.btn,
.card-text,
.card-header,
.list-group {
    font-family: var(--secondary-font);
}

a:hover {
    color: var(--third-color);
}